<section fxLayout fxLayoutAlign="center center">
    <mat-card class="login-card">
        <mat-card-title fxLayoutAlign="center">
            <button mat-fab color="accent">
                <mat-icon class="material-icons md-30">lock</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center">
            Sign In
        </mat-card-subtitle>
        <mat-content fxLayoutAlign="center">
            <form fxLayout="column" fxLayoutGap="10px">
                <mat-form-field class="form-field" color="white">
                    <mat-label>Email</mat-label>
                    <input type="email" email matInput placeholder="Enter Email" value="" required>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'"
                        required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary">
                    Login
                </button>
            </form>

        </mat-content>
    </mat-card>
</section>