.ul-options {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.filter {
  width: 20%;
}

th {
  font-size: 16px;
}

.emp-table {
  /* max-width: 100%; */
  padding-top: 10px;
}

.li-option:hover {
  background-color: rgb(165, 160, 160);
}

mat-paginator {
  color: blue;
}
