a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  /* text-shadow: 1em; */
}

button {
  border-style: none;
  background-color: inherit;
}

button:hover {
  background-color: inherit;
}
