<mat-toolbar color="primary">
    <div fxHide.lt-sm>
        <button mat-icon-button (click)="onToggleSidenav()" fxLayoutGap="25px">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="">
            <mat-icon fxLayoutAlign="center">
                home
            </mat-icon>
        </a>
    </div>
    <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px"class="navigation-items">
            <li>
                <button (click)="addEmployee()"
                matTooltip="Add New User" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button >
                    <mat-icon>more_vert</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>